# =====================================================
# Git
# =====================================================
.git
.gitignore

# =====================================================
# Dependencies
# =====================================================
**/node_modules

# =====================================================
# Build Output
# =====================================================
**/.next
**/dist
**/coverage

# =====================================================
# Logs
# =====================================================
*.log

# =====================================================
# Environment Files
# =====================================================
.env
.env.*
!.env.example

# =====================================================
# IDE
# =====================================================
.vscode
.idea

# =====================================================
# OS Files
# =====================================================
Thumbs.db
.DS_Store

# =====================================================
# Docker
# =====================================================
docker-compose.yml